$half-whidth: 50%;
$full-width: 100%;

@mixin theme-collection($half-post: true) {
    @include for-phone-only {
        width: $full-width;
    }
    @if $half-post {
        width: $half-whidth;
    } @else {
        width: $full-width;
    }
}

@mixin font-collection($half-title: true) {
    @include for-phone-only {
        @include fontSize(16px);
    }
    @if $half-title {
        @include fontSize(18px);
    } @else {
        @include fontSize(22px);
    }
}

.collection {
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 80%;
    @include flx(justify-content, center);
    @include for-phone-only {
        width: 90%;
    }
    &__breadcrumb {
        align-items: center;
        background-color: $light-grey;
        padding: 30px;
        text-align: center;
        width: 100%;
        @include flx(justify-content, center);
    }
    .breadcrumb {
        &__link {
            color: $dark-grey;
            letter-spacing: 1px;
            @include fontSize(18px);
            @extend %no-decoration;
            &:hover {
                color: $purple;
                @extend %decoration;
            }
        }
        &__img {
            width: 14px;
            margin: 10px;
        }
    }
    &__post {
        align-items: center;
        flex-wrap: wrap;
        @include flx(justify-content, center);
        @include theme-collection($half-post: false);
        &.half {
            @include theme-collection($half-post: true);
        }
    }
    &__figure {
        width: 50%;
    }
    &__img {
        width: 100%;
    }
    &__about {
        @include flx(justify-content, center);
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        width: 50%;
    }
    &__title {
        color: $dark-grey;
        letter-spacing: 1px;
        margin: 10px 0;
        text-decoration: unset;
        width: 100%;
        @include font-collection($half-title: false);
        &:hover {
            color: $purple;
            text-decoration: underline;
        }
        &.half {
            @include font-collection($half-title: true);
        }
    }
    &__date {
        font-style: italic;
        margin: 0 10px;
        width: 20%;
        @include fontSize(12px);
        @include for-phone-only {
            @include fontSize(10px);
        }
        @include for-tablet-only {    
            width: 30%;
        }
    }
    &__tag {
        border: 1px solid $purple;
        color: $purple;
        margin: 0 10px;
        padding: 5px 7px;
        width: 50px;
        @include fontSize(14px);
        @include for-phone-only {    
            width: 30px;
            @include fontSize(12px);
        }
        @include for-tablet-only {    
            width: 35px;
            @include fontSize(12px);
        }
    }
}