$dark-grey: #464646;
$light-grey: #eaeaeb;
$purple: #a050be;
$yellow: #fabe50;
$img-width: 45%; // Tamanho da imagem da descrição do index
%no-decoration {
    text-decoration: none;
}

%decoration {
    text-decoration: underline;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: #{$jty-cnt};
}

@mixin for-phone-only {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199.98px) {
        @content;
    }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin fontSize($size) {
    font-size: calculate-rem($size);
}

@function calculate-rem($size) {
    @return $size / 16px * 1rem;
}

@import 'header',
'footer',
'about',
'article';

$directions: top, bottom, left, right;
$layout-margin-size: 10px;

@each $direction in $directions {
    %no-margin-#{$direction} {margin-#{$direction}: 0;}
    %default-margin-#{$direction} {margin-#{$direction}: $layout-margin-size;}
    %double-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 2;}
    %half-margin-#{$direction} {margin-#{$direction}: $layout-margin-size / 2;}
    %auto-margin-#{$direction} {margin-#{$direction}: auto;}
}

/* Esse trecho de estilo se refere ao main do index.html*/

.main {
    @include flx(justify-content, center);
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    &__content {
        padding: 40px 8px;
        width: 70%;
        @include for-phone-only {
            width: 100%;
        }
    }
    &__post {
        text-align: center;
        @extend %no-margin-top, %auto-margin-right, %no-margin-bottom, %auto-margin-left;
        max-width: 800px;
    }
    &__title {
        color: $dark-grey;
        @include fontSize(22px);
        letter-spacing: 1.5;
        text-decoration: none;
        &:hover {
            color: $purple;
        }
    }
    &__subtitle {
        @include flx(justify-content, center);
        align-items: center;
        @extend %default-margin-top, %double-margin-bottom;
    }
    &__date {
        font-style: italic;
        @include fontSize(12px);
        @extend %no-margin-top, %default-margin-right, %no-margin-bottom, %default-margin-left;
        @extend %no-margin-top, %default-margin-right, %no-margin-bottom, %default-margin-left;
    }
    &__tag {
        border: 1px solid $purple;
        color: $purple;
        @include fontSize(14px);
        @extend %no-margin-top, %default-margin-right, %no-margin-bottom, %default-margin-left;
        padding: 5px 7px;
    }
    &__details {
        border: 1px solid $light-grey;
    }
    &__img {
        max-width: 100%;
    }
    &__description {
        @include fontSize(14px);
        @extend %no-margin-top, %auto-margin-right, %no-margin-bottom, %auto-margin-left;
        max-width: 650px;
        padding: 40px 0 25px;
    }
    &__btn {
        background-color: $yellow;
        color: $purple;
        @include fontSize(16px);
        letter-spacing: 1.5;
        padding: 10px 20px;
        text-decoration: none;
        transition: .3s;
        &:hover {
            background-color: $purple;
            color: $yellow;
        }
    }
    &__info {
        @include flx(justify-content, center);
        align-items: center;
        border-top: 1px solid $light-grey;
        margin-top: 30px;
    }
    &__author {
        border-right: 1px solid $light-grey;
        width: 50%;
    }
    &__p {
        color: $dark-grey;
        @include fontSize(14px);
        @extend %default-margin-top, %no-margin-right, %default-margin-bottom, %no-margin-left;
    }
    &__comments {
        width: 50%;
    }
    &__a {
        color: $dark-grey;
        @include fontSize(14px);
        text-decoration: none;
        @extend %default-margin-top, %no-margin-right, %default-margin-bottom, %no-margin-left;
        &:hover {
            color: $purple;
        }
    }
    &__sidebar {
        padding: 20px 10px;
        width: 20%;
        @include for-phone-only {
            width: 90%;
        }
    }
    .sidebar {
        &__top {
            border: 1px solid $light-grey;
            padding: 15px 20px;
        }
        &__title {
            background-color: $yellow;
            font-weight: bold;
            letter-spacing: 1.5px;
            @extend %no-margin-top, %no-margin-right, %default-margin-bottom, %no-margin-left;
            padding: 10px 10px;
            text-align: center;
            text-transform: uppercase;
        }
        &__posts {
            @include reset-list;
        }
        &__list {
            @include flx(justify-content, center);
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            &:not(:last-child) {
                border-bottom: 1px dashed $light-grey;
            }
        }
        &__img {
            border-radius: 12px;
            @extend %no-margin-top, %auto-margin-right, %default-margin-bottom, %auto-margin-left;
            width: 70%;
        }
        &__details {
            padding-left: 10px;
            width: 50%;
        }
        &__post-title {
            color: $purple;
            @include fontSize(14px);
            @extend %no-decoration;
            &:hover {
                @extend %decoration;
            }
        }
        &__post-date {
            @include fontSize(12px);
            @extend %half-margin-top, %no-margin-right, %no-margin-bottom, %no-margin-left;
        }
    }
}