$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;

.header {
    font-family: Arial, Helvetica, sans-serif;

    &__logo {
        text-align: center;
    }

    &__img {
        max-width: 350px;
    }

    .menu {
        &__list {
            border-bottom: 1px solid $light-grey;
            border-top: 1px solid $light-grey;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 20px 0;
            width: 80%;
        }

        &__links {
            position: relative;

            &:not(:last-child):after {
                background-color: $light-grey;
                bottom: 0;
                content: "";
                height: 15px;
                margin: auto;
                position: absolute;
                right: -3px;
                top: 0;
                width: 1px;
            }
        }

        &__link {
            color: $dark-grey;
            padding: 0 25px;

            &:hover {
                color: $purple;
            }
        }
    }
}

/* Esse trecho de estilo se refere ao rodapé do blog. */
.footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    // Posicionamento do footer
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    &__logo {
        max-width: 100px;
    }

    &__txt {
        font-size: 14px;
        margin: 7px auto;
    }
}