$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;

.header {
    font-family: Arial, Helvetica, sans-serif;
}

.header__logo {
    text-align: center;
}

.header__logo .header__img {
    max-width: 350px;
}

.header__menu .menu__list {
    border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
}

.header__menu .menu__list .menu__links {
    position: relative;
}

.header__menu .menu__list .menu__links:not(:last-child):after {
    background-color: $light-grey;
    bottom: 0;
    content: "";
    height: 15px;
    margin: auto;
    position: absolute;
    right: -3px;
    top: 0;
    width: 1px;
}

.header__menu .menu__list .menu__links .menu__link {
    padding: 0 25px;
    color: $dark-grey;
}

.header__menu .menu__list .menu__links .menu__link:hover {
    color: $purple;
}